[tasks.validate-example]
cwd = './example'
script = '''
fvm dart pub get
fvm dart run build_runner clean
fvm dart run build_runner build --delete-conflicting-outputs
fvm dart analyze
'''

[tasks.validate-annotation]
cwd = './embed_annotation'
script = '''
fvm dart pub get
fvm dart pub global run pana:pana --exit-code-threshold 20 --no-warning
'''

[tasks.validate-embed]
cwd = './embed'
script = '''
fvm dart pub get
fvm dart run build_runner clean
fvm dart run build_runner build --delete-conflicting-outputs
fvm dart test
fvm dart pub global run pana:pana --exit-code-threshold 10 --no-warning
'''

[tasks.validate]
run_task = { name = [
  "validate-example",
  "validate-annotation",
  "validate-embed",
] }
