name: PR Validation
run-name: Validation for ${{ github.event.pull_request.title }}
on:
  pull_request:
    branches: [master]
jobs:
  validation:
    name: PR validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: "stable"

      - name: Validate example package
        working-directory: ./example
        run: |
          dart pub get
          dart run build_runner build
          dart analyze --fatal-warnings

      - name: Validate embed_annotation package
        working-directory: ./embed_annotation
        run: |
          dart pub get
          dart analyze --fatal-warnings

      - name: Validate embed package
        working-directory: ./embed
        run: |
          dart pub get
          dart run build_runner build
          dart test
          dart analyze --fatal-warnings
